html {
    background-color: rgba(120, 116, 162, 0.264);
    /* width: 100vh; */
    margin: 0;
    padding: 0;
    font-family:cursive;
    color: rgb(42, 49, 44);
    display: flex;
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 21%;
    padding-right: 21%;
}
#background  {
    height: 15rem;
    width:  15rem;
    position: fixed;
    right: 5%;
    top: 60%;
    z-index:-1;
    filter: drop-shadow(0 0 2rem rgb(47, 30, 30));
    }

table {
    word-spacing: 2px;
}
h1 {
    color: rgb(94, 100, 81);
}
h2, h3 {
    color: rgb(94, 100, 81);
}
a {
    color: rgb(94, 100, 81);
}
.titler {
    color: rgb(94, 100, 81);
    vertical-align: baseline;
}

.stars {
    color: rgb(82, 104, 97);
}
#profilep {
    border-right: 1;
    filter: drop-shadow(0 0 1rem rgb(47, 30, 30));
    width: 15rem;
}
@media (max-width: 800px) {

    .center {
      flex-direction: column;
      height: 100%;
    }
    #profilep {
        margin-top: 20px;
        margin-bottom: 30rem;
        margin-left: 15%;

    
    }
    #background {
        position: absolute;
        right: 5%;
        top: 25rem;
        right: 1rem;
    }
}